h1 {
    font-family: Merriweather;
    font-weight: 800;
    font-size: 24px;
}


h2, #sub {
    font-family: Lato;
    font-weight: 700;
    font-size: 18px;
}

p, #text {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 14px;
}

section {
    border: 1px solid grey;
    margin: 10px auto;
    padding: 10px;
    width: 800px;
}

.colors div, .fonts div{
    display: inline-block;
    width: 46.7%;
    padding: 10px;
    vertical-align: top;
}

.fonts h2 {
    text-decoration: underline;
}

.fonts p {
    font-size: 16px;
}

#color1 {
    background-color: #EDC7B7;
}

#color2 {
    background-color: #EEE2DC;
}

#color3 {
    background-color: #BAB2B5;
}

#color4 {
    background-color: #123C69;
    color: white;
}

#color5 {
    background-color: #AC3B61;
    color: white;
}

#font1 p {
    font-family: Merriweather;
}

#font2 p {
    font-family: 'Open Sans';
}

#font3 p {
    font-family: Lato;
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: 600;
}